<div class="container mt-5">
    <div class="col">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <h3 class="text-center">Recuperación de Contraseña </h3>
          <form #form="ngForm" (ngSubmit)="login(form)">
            <div class="mb-3 mt-5">
              <label for="email" class="form-label">Proporcione un correo para enviar link de recuperación de contraseña</label>
              <input type="email" class="form-control" id="password" placeholder="Correo" required>
            </div>
            <button type="submit"  class="btn btn-secondary w-100">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  


  